<!-- Main Slider Start -->
<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='img/sach-ban-hang-online-2.jpg') }}" alt="Slider Image" />
        </div>
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='img/sbia.jpg') }}" alt="Slider Image" />
        </div>
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='img/maxresdefault.jpg') }}" alt="Slider Image" />
        </div>
    </div>
</div>
<!-- Main Slider End -->
